implementazioneApiRest/xml/richiesta.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="tipoRichiesta">
		<xs:sequence>
			<xs:element name="rifUtente" type="xs:int"/>
			<xs:element name="oraInizio" type="xs:dateTime"/>
			<xs:element name="oraFine" type="xs:dateTime"/>
			<xs:element name="durata" type="xs:dateTime"/>
		<xs:sequence>
	</xs:complexType>
	
	<xs:element name="richiesta" type="tipoRichiesta"/>
</xs:schema>